# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
.env
.venv/
venv/
myenv/

# ======================
# Virtual Environments
# ======================
env/
ENV/
myenv/

# ======================
# Node / Frontend
# ======================
node_modules/
dist/
build/
.next/

# ======================
# Logs
# ======================
*.log

# ======================
# VS Code
# ======================
.vscode/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Git
# ======================
.git/